
/* google fonts */
@import url('https://fonts.googleapis.com/css2?family=Lora:ital@0;1&family=Poppins:ital,wght@0,400;0,500;0,700;1,500&family=Roboto&family=Rubik&display=swap');

body{
    font-family: 'Poppins', sans-serif;
}
/* -----------------------
       heading style
   ----------------------- */
   .container{
    display: flex;
    justify-content: center;


   }
   .header{
    display: flex;
    width: 70%;
    background: #161616;
    border-radius: 30px;
    align-items: center;
    padding: 33px 140px 0px 140px;
    margin-bottom: 130px;
    overflow: hidden;
   }
   .header-title{
    font-size: 70px;
    font-weight: 700;
    color: white;
    line-height: 80px;


   }
   .header-text{
    font-size: 16px;
    color: white;

   }
   .watch-live-button{
    padding: 16px 25px;
    background: #DD0000;
    border-radius: 5px;
    color: white;
    border: none;
    font-size: 16xp;
    font-weight: 600;


   }
   .header-banner{
    padding-bottom: 0px;
   }
   .header-banner img{
    width: 581px;
    height: 613px;
   }

   /* heading section */

   /* -------------------------
      transfer section
      ------------------------- */

    .live-match-section{
     display: flex;
     width: 88%;
     margin-bottom: 130px;
     overflow: hidden;

    }
    .important-link-button{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-row-gap: 30px;
        background-color: #161616;
        padding: 30px;
        border-radius: 10px;
        margin-right: 24px;
        height: 282px;
        
    }
    .important-link-button button{
        width: 252px;
        height: 64px;
        background-color: white;
        border: none;
        border-radius: 10px;
        font-size: 20px;
        font-weight: 500px;
        color: #161616;
        cursor: pointer;
    }
    #bg-red{
        background-color: #DD0000;
    }
    .live-matches{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-column-gap: 24px;
        grid-row-gap: 24px;
    }
    .live-match{
        color: #161616;
        border: 1px solid #E8E8E8;
        border-radius: 10px;
        padding: 0px 30px 0px 30px;
        height: 210px;

    }
    .vs h3{
      padding: 40px 20px 0 20px;
    }
    .match-banner{
      display: flex;
      justify-content: center;
      align-items: center;


    }

    .transfer-title h3{
        font-size: 18px;
        font-weight: 600;
        color: #161616;
    }
    .match-title a button{
        width: 100px;
        height: 32px;
        font-weight: 400;
        font-size: 16px;
        border-radius: 5px;
        border: 1px solid #161616;
    }
    .match-info{
      padding-left: 30px;
      color: #161616;

    }
    .match-time span{
        margin-right: 30px;
        color: #161616;
        font-weight: 100;
        margin-top: 2px;
    }

    /* -----------------------
          footer seection
      ------------------------ */

      footer{
        width: 100%;
        background-color: #161616;
        display: flex;
        align-items: center;
        flex-direction : column;
        overflow: hidden;


      }
      .footer-top h1{
        padding-top: 80px;
        padding-bottom: 30px;
        font-size: 40px;
        color: white;
      }
      hr{
        width: 90%;
        border: 1px solid #2D2D2D;
      }
      .footer-bottom ul{
        display: flex;
      }
      .footer-bottom ul li{
        list-style: none;
        width: 200px;
        text-align: center;
        padding: 50px 0 50px 0;

      }
      .footer-bottom ul li a{
        text-decoration: none;
        font-size: 16px;
        color: white;
        font-weight: 500;
      }
      .fa-brands{
        font-size: 25px;
        padding: 20px;
      }
      .fa-facebook-f{
        color: #139AF7;
      }
      .fa-linkedin{
        color: #0077B5;
      }
      .fa-twitter{
        color: #183153;
      }


      
      /* footer end */

      /* mobile device */
      @media only screen and (max-width:767px) {
        .mobile-netword{
          display: block;
        }
        .header{
          flex-direction: column;
          padding: 30px 30px 0px 30px;
          text-align: center;
          margin-bottom: 30px;
        }
        .header-title{
          line-height: 40px;
          font-size: 27px;

        }
        .header-text span{
          display: none;
        }
        .header-banner img{
          width: 100%;
          height: 90%;
        }

        .live-match-section{
          flex-direction: column;
        }
        .live-matches{
          grid-template-columns: repeat(1 , 1fr);
        }
        .important-link-button{
          margin: 0 auto;
          margin-bottom: 20px;
          background-color: white;
          justify-items: center;
        }
        .important-link-button button{
          border: 1px solid #E8E8E8;
          height: auto;
          width: auto;
          padding: 20px 70px;
        }
        .footer-bottom ul{
          flex-direction: column;
        }
        .footer-top h1{
          padding: 30px 0 30;
        }
        .footer-bottom ul li{
          padding: 30px 0 30px 0;
        }
       
      }
      /* Tablet device */
       @media screen and (min-width:768px) and (max-width:1023px)  {

        .header{
          justify-content: space-between;
          padding: 33px 100px 0px 100px;
        }
        .header-title{
          font-size: 50px;
          font-weight: 700;
          color: white;
          line-height: 50px;
      
      
         }
        .header-banner img{
          width: 350px;
          height: 500px;

        }
        .header-text span{
          display: none;
        }
        .live-match-section{
          flex-direction: column;
        }
        .important-link-button{
          display: flex; 
          justify-content: space-between;         
          height: auto;
          width: 645px;
          margin-bottom: 30px;
        }
        .important-link-button button{
          width: 200px;
        }
        .live-matches{
          grid-template-columns: repeat(2, 1fr);
        }
        #color-red{
          display: block;
          margin-top: -70px;
        }
      }
      .footer-bottom ul{
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        padding-right: 80px;
      }
      

